<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Ehab\Configurable\Api\ConfigurableManagementInterface"
				type="Ehab\Configurable\Model\ConfigurableManagement"/>
</config>
